-c requirements.constraints.txt

flask
google-genai
python-dotenv
SQLAlchemy
alembic
python-json-logger
websocket-client
flask-socketio
python-socketio
flask_sqlalchemy
flask-cors
requests
appdirs
gunicorn
eventlet
pywin32; sys_platform == 'win32'
